.body {
  background: #171717;
}

#control-bar {
  background-color: #181818;
}

.ctrl-bar-img {
  height: 60px;
}

.ctrl-bar-icon,
.ctrl-bar-icon-timeline {
  height: 14px;
}

.play-button {
  height: 24px;
}

#control-bar svg {
  fill: white;
}
