.col-7 {
  background: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.col-3 {
  background: black;
  color: white;
}

.col-2 {
  background: black;
  color: white;
}


/* !COL LEFT */

.option {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
}

.option svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

/* !COL-6 */

.user {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.arrows {
  display: flex;
  color: white;
}

.arrow-left,
.arrow-right {
  width: 25px;
  height: 25px;
}

.arrows p {
  font-size: 25px;
}

.icon-user {
    color: white;
    display: flex;
    background: black;
    border-radius: 50px;
}

.icon-user p {
    margin-bottom: 0;
}

.img-user svg {
    width: 25px;
    height: 25px;
}

.featured-album {
    width: 90%;
    height: 200px;
    background: black;
    display: flex;
    flex-wrap: wrap;
}

.img-album img {
  width: 90%;
}

.info-album {
  width: 70%;
  margin-top: 5px;
}

.annunci {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.button-annunci button{
  background: rgb(49, 49, 49);
  border: none;
  border-radius: 50px;
  color: rgb(159, 157, 157);
  font-size: 10px;
}
